<div class="row px-5 py-3 ">
    <div class="col">
        <h2>URUGUAY</h2>
        <img src="https://th.bing.com/th/id/OIP.tbzlc0Lhbw2OGfeRTHgjywHaE7?w=230&h=180&c=7&r=0&o=5&pid=1.7" alt="">
        <h4>DATOS SOBRE EL PAÌS:</h4>
        <p id="spaContent">⦁	Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</div>
</div>
