<div class="row ">
    <div class="col-2">
        <app-header></app-header>
    </div>
    <div class="col">
        <div class="container py-2 card">
            <div class="row">
                <div class="col-12 ">
                    <h3 class="card-header">Mi primera aplicaciòn SPA</h3>
                </div>
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row py-5">
    <div class="col py-5" id="footer">
        <app-footer></app-footer>
    </div>
</div>
